@font-face {
  font-family: CrimsonTextRoman;
  src: url(../fonts/CrimsonText-Roman.ttf);
}
@font-face {
  font-family: OpenSansRegular;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OswaldLight;
  src: url(../fonts/Oswald-Light.ttf);
}
@font-face {
  font-family: OswaldRegular;
  src: url(../fonts/Oswald-Regular.ttf);
}
@font-face {
  font-family: OswaldBold;
  src: url(../fonts/Oswald-Bold.ttf);
}
@font-face {
  font-family: CSNewAthanasius;
  src: url(../fonts/FreeSerifAthanasius.ttf);
}

html {
  background-color: #333333;
}
body {
  padding-top: 50px;
  background-color: #333333;
}
.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
  margin-right: 0px;
  margin-left: 0px;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.navbar-fixed-top {
  border: 0;
}
.page-title {
  font-family: 'CrimsonTextRoman', sans-serif;
  float: right;
  color: #bcc64b;
  font-size: 28px;
  margin-top: 10px;
}
.hamburger {
  padding-top: 12px;
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
}
div.main-section {
  font-size: 16px;
  font-family: 'OpenSansRegular', sans-serif;
  text-align: justify;
  color: #ffffff;
  padding-bottom: 5px;

}
#sections .glyphicon {
  cursor: pointer;
}
div.extra-padding {
  padding: 10px;
}
li#light_on_dark {
  background-color: #000;
  color: #ffffff;
  font-family: 'OswaldRegular', sans-serif;
  text-shadow: 1px 1px 7px #ffffff;
}
li#dark_on_light {
  background-color: #ffffff;
  color: #000;
  font-family: 'OswaldRegular', sans-serif;
}
div.theme {
  width: 60%;
  margin: 0 auto;
}
h1.section_title {
  font-family: 'CrimsonTextRoman', sans-serif;
  font-size: 50px;
  cursor: pointer;
  text-shadow: 1px 1px 1px #ffffff;
  margin: 10px;
  color: #262626;
}
h1:hover {
  text-shadow: 5px 5px 10px #ffffe6;
}
h3.main-section:hover {
  text-decoration: underline;
}
div.description {
  font-family: 'Noticia', sans-serif;
  color: #262626;
  position: relative;
  width: 50%;
  margin: 0 auto;
}
div.section-item {
  padding-top: 30px;
}
.nav-menu-item:hover {
  background-color: #1a75ff;
  cursor: pointer;
}
p.main-section {
  color: #ffffff;
}
h3.main-section {
  text-align: center;
  color: #ffff66;
  cursor: pointer;
}
h3.main-section-light {
  color: #ff0000;
}
h3.main-section-hidden {
  color: rgba(255, 255, 102, 0.5);
}
h3.main-section-light-hidden {
  color: rgba(255, 0, 0, 0.5);
}
h4.main-section {
  color: #ffff66;
}
h4.main-section-priest {
  color: #efef5b;
}
h4.main-section-deacon {
  color: #ffd866;
}
h4.main-section-people {
  color: #d1ff66
}
h4.main-section-reader {
  color: #ffa566;
}
h4.main-section-light {
  color: #ff0000;
}
h4.main-section-light-priest {
  color: #dd0000;
}
h4.main-section-light-deacon {
  color: #a50000;
}
h4.main-section-light-people {
  color: #000282;
}
h4.main-section-light-reader {
  color: #420d00;
}
p.main-section-light {
  color: #000000;
}
div.nav-sub-menu-item {
  line-height: 40px;
}
div.checkbox {
  margin-left: 50px;
  text-indent: 0px;
}
div.checkbox label {
  color: #ffffff;
  font-family: 'OswaldLight', sans-serif;
  font-size: 16px;
  vertical-align: middle;
  padding-left: 10px;
}
div.date {
  margin-left: 50px;
  text-indent: 0px;
}
div.date input {
  width: 100px;
  font-size: 14px;
  background-color: #666666;
  border-style: none;
  text-align: center;
  padding: 0px;
  margin-bottom: 10px;
  vertical-align: bottom;
  color: #ffffff;
}
div.date select{
  width: 70px;
  font-size: 14px;
  height: 40px;
  background-color: #666666;
  border-style: none;
  margin-left: 5px;
  margin-bottom: 10px;
  vertical-align: bottom;
  color: #ffffff;
}
div.date label {
  color: #ffffff;
  font-family: 'OswaldRegular', sans-serif;
  font-size: 18px;
  font-weight: 300;
}
div.toggle-group {
  text-indent: 0px;
}
div.light-theme-background {
  background-color: #ffffe6;
}
body.light-theme-background, html.light-theme-background {
  background-color: #f8f8f8;
}
div.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 5px;
}
div.doc-title {
  margin-bottom: 30px;
}
div.doc-item {
  position: relative;
  vertical-align: top;
  display: inline-block;
  padding: 10px;
}
div.nav-slider {
  width: 90px;
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
}
span.main-section-title {
  vertical-align: 40%;
  font-size: 12px;
}
div.season-display {
  color: #ffffb3;
  margin-top: 5px;
  font-family: 'OswaldLight', sans-serif;
}
div.season-display ul{
  list-style-type: square;
  padding: 20px;
}
div.season-display li{
  font-size: 16px;
  text-indent: 0px;
  line-height: normal;
}

div.font-scaler {
  margin-left: 25px;
}

div.font-scaler label {
  color: #ffffff;
  font-family: 'OswaldLight', sans-serif;
  font-size: 16px;
  font-weight: 400;
  vertical-align: middle;
}

label.font-scaler {
  text-indent: 0px;
  padding-left: 5px;
}

div.table-of-contents {
  line-height: 40px;
  color: #ffffff;
  max-height: 350px;
  overflow-y: auto;
}
.table-of-contents-item {
  font-size: 14px !important;

}
.table-of-contents-item:hover {
  background-color: #1a75ff;
  cursor: pointer;
}

body.no-scroll {
  overflow-y: hidden;
}
